@page
@model LastHope.Pages.Staff.BuildingPages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutStaff";
}

<h1>Create</h1>

<h4>Building</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Building.Name" class="control-label"></label>
                <input asp-for="Building.Name" class="form-control" />
                <span asp-validation-for="Building.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building.Address" class="control-label"></label>
                <input asp-for="Building.Address" class="form-control" />
                <span asp-validation-for="Building.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building.Status" class="control-label"></label>
                <select asp-for="Building.Status" class="form-control" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="Building.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building.Capacity" class="control-label"></label>
                <input asp-for="Building.Capacity" class="form-control" />
                <span asp-validation-for="Building.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
