@page
@model LastHope.Pages.Staff.RentContractPages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutStaff";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .building{
        display:flex;
        gap: 1rem;
    }
</style>
<h1>Create</h1>

<h4>RentContract</h4>
<hr />
<form method="get">
    <label>Building</label>
    <select asp-for="BuildingId"  asp-items="ViewBag.BuildingId"></select>
        
    <button type="submit" class="btn btn-primary">Select</button>
        
</form>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="RentContract.Customer" class="control-label"></label>
                <select asp-for="RentContract.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="RentContract.Flat" class="control-label"></label>
                <select asp-for="RentContract.FlatId" class="form-control" asp-items="ViewBag.FlatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RentContract.Title" class="control-label"></label>
                <input asp-for="RentContract.Title" class="form-control" />
                <span asp-validation-for="RentContract.Title" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="RentContract.StartDate" class="control-label"></label>
                <input type="date" asp-for="RentContract.StartDate" class="form-control" />
                <span asp-validation-for="RentContract.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentContract.ExpiryDate" class="control-label"></label>
                <input type="date" asp-for="RentContract.ExpiryDate" class="form-control" />
                <span asp-validation-for="RentContract.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentContract.Value" class="control-label"></label>
                <input asp-for="RentContract.Value" class="form-control" />
                <span asp-validation-for="RentContract.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentContract.Status" class="control-label"></label>
                <select asp-for="RentContract.Status" class="form-control" asp-items="ViewBag.Status"></select>
                
                <span asp-validation-for="RentContract.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentContract.Contract" class="control-label"></label>
                <input type="file" accept=".pdf" asp-for="ContractFile" class="form-control" />
                <span asp-validation-for="RentContract.Contract" class="text-danger"></span>
            </div>
            <br />
            <div class="building">
                Terms 
                <button id="addItemButton">Add Term</button>
                <button id="removeItemButton">Remove Last</button>
            </div>
           
            <div id="itemList" class="form-group">
                
            </div>
            <br />
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<script>
$(document).ready(function() {
    var itemIndex = 0;
    $("#removeItemButton").click(function () {
        if (itemIndex >= 1) {
            itemIndex--;
            $("#itemList > div:nth-last-child(-n+2)").remove();
            
        } 
    });
    $("#addItemButton").click(function() {
        var newItemHtml = `
            <div class="form-group">
                <label>Title</label>
                <input name="Terms[${itemIndex}].Title" class="form-control"/>
                
            </div>
            <div class="form-group">
                <label>Content</label>
                <input name="Terms[${itemIndex}].Content" class="form-control"/>
                
                ----------------------------------------------------------------
            </div>
            
        `;

        $("#itemList").append(newItemHtml);

        itemIndex++;
    });
});
</script>