@page
@model LastHope.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h4>UserAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserAccount.Id" />
            <div class="form-group">
                <label asp-for="UserAccount.Phone" class="control-label"></label>
                <input asp-for="UserAccount.Phone" class="form-control" />
                <span asp-validation-for="UserAccount.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Password" class="control-label"></label>
                <input asp-for="UserAccount.Password" class="form-control" />
                <span asp-validation-for="UserAccount.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Fullname" class="control-label"></label>
                <input asp-for="UserAccount.Fullname" class="form-control" />
                <span asp-validation-for="UserAccount.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.DayOfBirth" class="control-label"></label>
                <input asp-for="UserAccount.DayOfBirth" class="form-control" />
                <span asp-validation-for="UserAccount.DayOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Gender" class="control-label"></label>
                <input asp-for="UserAccount.Gender" class="form-control" />
                <span asp-validation-for="UserAccount.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Email" class="control-label"></label>
                <input asp-for="UserAccount.Email" class="form-control" />
                <span asp-validation-for="UserAccount.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Address" class="control-label"></label>
                <input asp-for="UserAccount.Address" class="form-control" />
                <span asp-validation-for="UserAccount.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.CitizenId" class="control-label"></label>
                <input asp-for="UserAccount.CitizenId" class="form-control" />
                <span asp-validation-for="UserAccount.CitizenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.DateJoin" class="control-label"></label>
                <input asp-for="UserAccount.DateJoin" class="form-control" />
                <span asp-validation-for="UserAccount.DateJoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Status" class="control-label"></label>
                <input asp-for="UserAccount.Status" class="form-control" />
                <span asp-validation-for="UserAccount.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.RoleUser" class="control-label"></label>
                <select asp-for="UserAccount.RoleUser" class="form-control"></select>
                <span asp-validation-for="UserAccount.RoleUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
